<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">Nova Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form>

    <!-- <ion-item>
      <ion-select label="Categoria" label-placement="start">
        <ion-select-option>Aplicativo</ion-select-option>
        <ion-select-option>Banco de Dados</ion-select-option>
        <ion-select-option>Cartão de Crédito</ion-select-option>
        <ion-select-option>Cartão de Débito</ion-select-option>
        <ion-select-option>E-mail</ion-select-option>
        <ion-select-option>Operações Bancárias</ion-select-option>
        <ion-select-option>PIX</ion-select-option>
        <ion-select-option>Website</ion-select-option>
        <ion-select-option>Website e Aplicativo</ion-select-option>
        <ion-select-option>Wi-Fi</ion-select-option>
      </ion-select>
    </ion-item> -->

    <app-input-text type="text" label="Usuário"></app-input-text>

  </form>

</ion-content>

<ion-footer></ion-footer>
