<ion-header>
  <ion-toolbar>
    <section id="header">
      <div class="box-a">
        <ion-avatar>
          <img src="assets/images/avatar.png" />
        </ion-avatar>
        <ion-text>
          <b>José Quintinno</b>
          <p>Administrador</p>
        </ion-text>
      </div>
      <div class="box-b">
        <ion-icon name="notifications-outline"></ion-icon>
      </div>
    </section>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section id="searchbar">
    <div class="searchbar">
      <img src="assets/icon/search.png" />
      <input type="text" placeholder="Search Password" />
    </div>
  </section>

  <section id="cabecalho">
    <ion-text>Categorias</ion-text>
  </section>

  <section id="categoria">

    <swiper-container [slidesPerView]="1.5" [spaceBetween]="10">
      @for(item of categoriaCredencialList; track item.codePublic) {
      <swiper-slide [style.background]="item.corFundo">
        <ion-icon [name]="item.nomeIcone"></ion-icon>
        <ion-text>{{ item.descricao }}</ion-text>
      </swiper-slide>
      }
    </swiper-container>

  </section>

  <section id="cabecalho">
    <ion-text>Credenciais Recentes</ion-text>
  </section>

  <section id="contas-recentes">
    <ion-list lines="none">
      @for(item of credencialList; track item.codePublic) {
      <ion-item>
        <ion-row class="ion-align-items-center" style="width: 100%;">

          <ion-col size="2">
            <div class="icone">
              <div class="logomarca">
                <ion-text>{{ getRecuperarNome(item) }}</ion-text>
              </div>
            </div>
          </ion-col>

          <ion-col size="8">
            <ion-text class="dados-credencial">
              <b>{{ item.nomePessoa }}</b>
              <p>{{ item.identificador }}</p>
            </ion-text>
          </ion-col>

          <ion-col size="2" class="ion-text-end">
            <ion-icon name="copy-outline" (click)="copiarSenha(item)"></ion-icon>
          </ion-col>

        </ion-row>
      </ion-item>
      }
    </ion-list>

  </section>

  <ion-infinite-scroll threshold="10%" (ionInfinite)="recuperarCredencial($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais dados..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>