<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button slot="icon-only">
        <ion-icon name="grid-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button slot="icon-only">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      <ion-button slot="icon-only">
        <ion-icon name="scan-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col size="10">
      <ion-label>Manager your privacy</ion-label>
    </ion-col>
  </ion-row>

  <app-cabecalho label="My Data"></app-cabecalho>

  <section id="bloco-categorias">

    <div class="row">
      <div class="principal">
        <div class="header">
          <ion-icon name="earth-outline"></ion-icon>
        </div>
        <div class="content">
          <ion-label>Browser</ion-label>
        </div>
        <div class="footer">
          <ion-label>34 passwords</ion-label>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </div>

      <div class="principal">
        <div class="header">
          <ion-icon name="cloud-outline"></ion-icon>
        </div>
        <div class="content">
          <ion-label>Clound</ion-label>
        </div>
        <div class="footer">
          <ion-label>34 passwords</ion-label>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="principal">
        <div class="header">
          <ion-icon name="laptop-outline"></ion-icon>
        </div>
        <div class="content">
          <ion-label>Application</ion-label>
        </div>
        <div class="footer">
          <ion-label>34 passwords</ion-label>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </div>

      <div class="principal">
        <div class="header">
          <ion-icon name="wallet-outline"></ion-icon>
        </div>
        <div class="content">
          <ion-label>Payment</ion-label>
        </div>
        <div class="footer">
          <ion-label>34 passwords</ion-label>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </div>
    </div>

  </section>

  <app-cabecalho label="Recently Added"></app-cabecalho>

  <ion-item lines="none">
    <ion-col size="2">
      <div class="icon">
        <ion-icon name="logo-dribbble"></ion-icon>
      </div>
    </ion-col>
    <ion-col size="8">
      <ion-label>
        Dribbble
        <p>josequintino&#64;hotmail.com.br</p>
      </ion-label>
    </ion-col>
    <ion-col size="2">
      <ion-label>11 Minutes</ion-label>
    </ion-col>
  </ion-item>

</ion-content>
