ion-header {
    ion-toolbar {
        --background: var(--ion-color-primary);
    }
}

ion-content,
ion-item {
    --background: var(--ion-color-primary);

    ion-row {
        margin-bottom: 1rem;
        margin-top: 1rem;

        ion-col {
            font-size: 2rem;
            font-weight: bold;
            margin: auto;
        }
    }
}