<ion-header>
  <ion-toolbar>
    <section id="header">
      <div class="box-a">
        <ion-avatar>
          <img src="assets/images/avatar.png"/>
        </ion-avatar>
        <ion-text>
          <b>Hello, John</b>
          <p>Good Morning</p>
        </ion-text>
      </div>
      <div class="box-b">
        <img src="assets/icon/notification.png"/>
      </div>
    </section>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section id="searchbar">
    <div class="searchbar">
      <img src="assets/icon/search.png"/>
      <input type="text" placeholder="Search Password"/>
    </div>
  </section>

  <section id="cabecalho">
    <ion-text>What do you want to save?</ion-text>
  </section>

</ion-content>
