<section id="popover">
    <form>

        <div class="formulario-input">
            <ion-label>Site/App Name</ion-label>
            <input type="text" placeholder="Enter Name" />
            <ion-icon name="apps"></ion-icon>
        </div>

        <div class="or">
            <span></span>
            <ion-label>OR</ion-label>
            <span></span>
        </div>

        <div class="formulario-input">
            <ion-label>Site Link</ion-label>
            <input type="text" placeholder="Past Link Here" />
            <ion-icon name="globe"></ion-icon>
        </div>

    </form>
</section>