<section id="popover">
    <form>

        <div class="formulario-input">
            <ion-label>Nome da Categoria</ion-label>
            <input type="text" placeholder="Informe o nome da Categoria" />
            <ion-icon name="apps"></ion-icon>
        </div>

        <div class="or">
            <span></span>
            <ion-label>Icones</ion-label>
            <span></span>
        </div>

        <div class="box-icone">
            <div class="icones">
                <ion-grid>
                    <ion-row>
                        <ion-col size="1" *ngFor="let item of iconeList">
                            <ion-icon [name]="item" [class.selecionado]="iconeSelecionado === item" (click)="selecionarIcone(item)"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>

        <div class="or">
            <span></span>
            <ion-label>Cor</ion-label>
            <span></span>
        </div>

        <div class="box-cor">
            <div class="cores">
                <ion-grid>
                    <ion-row>
                        <ion-col size="2" *ngFor="let item of corList">
                            <div [style.background]="item" (click)="selecionarCor(item)" [class.selecionada]="corSelecionada === item"></div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>

        <ion-button expand="block" disabled="true">Save</ion-button>

    </form>
</section>