@font-face {
    font-family: "Lexend";
    src: url("../assets/fonts/Lexend.ttf");
}

@font-face {
    font-family: "Gilroy";
    src: url("../assets/fonts/Gilroy.ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins.ttf");
}