ion-tabs {
    ion-tab-bar {
        --background: rgba(2, 7, 23, 0.6);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        --border: none;
        --box-shadow: none;

        ion-tab-button {
            ion-icon,
            ion-label {
                color: #eaebec;
            }
        }
    }
}