ion-tabs {
    ion-tab-bar {
        --background: rgba(2, 7, 23, 0.6);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        --border: none;
        --box-shadow: none;

        ion-tab-button {
            ion-icon,
            ion-label {
                color: #eaebec;
            }
        }
    }
}

ion-fab {
    bottom: 30px;
}

ion-fab-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    --background: linear-gradient(160deg, #423bf1, #7b47ff);
    --box-shadow: 0 8px 20px rgba(0, 0, 0, 0.9);
    color: #fff;
}
