ion-content {

    #searchbar {
        margin-top: 1rem;
        padding: 1rem;

        .searchbar {
            display: flex;
            justify-content: start;
            align-items: center;

            img {
                position: absolute;
                width: 20px;
                height: 20px;
                margin-left: 1rem;
            }

            input {
                width: 100%;
                height: 60px;
                border-radius: 50px;
                background: #EEF0F2;
                color: black;
                outline: none;
                border: none;
                padding-left: 3rem;
            }

            ::placeholder {
                color: #526578;
                font-weight: bold;
            }
        }
    }

    #links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;

        ion-button {
            --background: #6f6bf5;
            width: 50px;
            height: 50px;
            --border-radius: 12px;
        }

        swiper-container {
            width: 100%;
            margin-left: 0.7rem;
            cursor: pointer;

            swiper-slide {
                display: flex;
                justify-content: center;
                font-size: 15px;
                font-weight: bold;
                border-radius: 16px;
                align-items: center;
                // min-width: 100%;
                height: 50px;
                background: #eef0f2;
                color: #57697c;
            }

            swiper-slide {
                &.selecionar-categoria-credencial {
                    background: #6f6bf5;
                    color: white;
                    font-weight: bold;
                }
            }
        }

    }

    #loading {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        ion-spinner {
            color: #b6c0ca;
            // border: dashed red 2px;
            font-style: 1.3rem;
        }
    }

    #dividor {
        margin-top: 2rem;

        hr {
            background: #eef0f2;
            height: 2px;
            border-radius: 20px;
        }
    }

    #formulario {
        margin-top: 2rem;

        .formulario-input {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: start;

            ion-label {
                position: relative;
                font-weight: bold;
                margin-bottom: 1rem;
            }

            input {
                position: relative;
                width: 100%;
                height: 64px;
                border: none;
                outline: none;
                background: #dfe1e5;
                border-radius: 30px;
                padding-left: 4rem;
                margin-bottom: 1rem;
                font-weight: bold;
                margin-bottom: 2rem;
            }

            input.campo-invalido {
                border: solid 2px var(--ion-color-danger);
            }

            ::placeholder {
                font-weight: bold;
                color: #444f60;
            }

            input:focus {
                border: solid #9290f3 2.2px;
            }

            ion-icon {
                position: absolute;
                margin-top: 3.8rem;
                left: 1.1rem;
                color: #6d7178;
                font-size: 1.4rem;
            }

            .icone-secundario {
                position: absolute;
                top: 0.1rem;
                right: 3.9rem;
                cursor: pointer;

                ion-icon {
                    font-size: 1.7rem;
                }
            }

            .icone-terceario {
                position: absolute;
                top: 0.1rem;
                right: 7rem;
                cursor: pointer;

                ion-icon {
                    font-size: 1.8rem;
                }
            }

            small {
                color: var(--ion-color-danger);
                position: absolute;
                top: 6.5rem;
                left: 1.5rem;
                font-size: 0.8rem;
            }
        }

        ion-button {
            width: 80%;
            height: 55px;
            --border-radius: 40px;
            margin: auto;
            margin-top: 2rem;
        }
    }

}