<ion-content scroll="true" scrollAssist="true" scrollEvents="true" keyboardResize="ionic" class="ion-padding">

  <section id="searchbar">
    <div class="searchbar">
      <img src="assets/icon/search.png" />
      <input type="text" placeholder="Search for a website or app" />
    </div>
  </section>

  <section id="links" *ngIf="!isLoading">

    <ion-button id="modal-secondary" (click)="abrirPopoverPessoaCadastrar()">
      <ion-icon name="add"></ion-icon>
    </ion-button>

    <swiper-container [slidesPerView]="2.8" [spaceBetween]="10">
      @for(item of categoriaCredencialList; track item.codePublic) {
      <swiper-slide (click)="selecionarCategoriaCredencial(item)"
        [class.selecionar-categoria-credencial]="credencialFormGroup.get('categoriaCredencialEntity')?.value === item.code">
        {{ item.descricao }}
      </swiper-slide>
      }
    </swiper-container>

  </section>

  <section id="loading" *ngIf="isLoading">
    <ion-spinner></ion-spinner>
  </section>

  <section id="dividor">
    <hr />
  </section>

  <section id="formulario">

    <form [formGroup]="credencialFormGroup" (ngSubmit)="onCreate()">

      <div id="section-website-aplicativo">

        <div 
          *ngIf="
            credencialFormGroup.get('categoriaCredencialEntity')?.value !== 8 && 
            credencialFormGroup.get('categoriaCredencialEntity')?.value !== 5 &&
            credencialFormGroup.get('categoriaCredencialEntity')?.value !== 6" 
          class="formulario-input">
          <ion-label>Instituição <sup>*</sup></ion-label>

          <input type="text" placeholder="Exemplo: Google, Microsoft etc" formControlName="nomeInstituicao" (ngModelChange)="pesquisarInstituicao($event)" autocomplete="off" maxlength="100" />

          <ion-icon name="person-outline"></ion-icon>
          <div *ngIf="isApresentarListaResultadoPesquisa" class="resultado-pesquisa">
            <ion-list lines="none">
              <ion-item *ngFor="let item of instituicaoFiltradaList" (click)="selecionarInstituicao(item)">{{ item.nome }}</ion-item>
            </ion-list>
          </div>
        </div>

        <div class="formulario-input">
          <ion-label>
            Descrição
            <sup *ngIf="isCampoFormularioObrigatorio('descricao')">*</sup>
          </ion-label>
          <input type="text" placeholder="Descrição" maxlength="100" formControlName="descricao"
            [class.campo-invalido]="isCampoInvalido('descricao')" />
          <ion-icon name="document-text-outline"></ion-icon>
          <small *ngIf="isCampoInvalido('descricao')">Descrição Inválida!</small>
        </div>

        <div 
          *ngIf="
            credencialFormGroup.get('categoriaCredencialEntity')?.value === 2" 
            class="formulario-input">
          <ion-label>Usuário <sup>*</sup></ion-label>
          <input type="text" placeholder="E-mail, telefone ou nome de usuário" maxlength="100" autocapitalize="off"
            formControlName="identificador" [class.campo-invalido]="isCampoInvalido('identificador')" />
          <ion-icon name="mail-outline"></ion-icon>
          <small *ngIf="isCampoInvalido('identificador')">Identificador Inválido!</small>
        </div>

        <div 
          *ngIf="
            credencialFormGroup.get('categoriaCredencialEntity')?.value === 6" 
            class="formulario-input">
          <ion-label>Endereço do Host <sup>*</sup></ion-label>
          <input 
            type="text" 
            placeholder="Informe o nome do Hostname" 
            maxlength="50" 
            autocapitalize="off"
            formControlName="databaseHostname" 
            [class.campo-invalido]="isCampoInvalido('databaseHostname')" />
          <ion-icon name="mail-outline"></ion-icon>
          <small *ngIf="isCampoInvalido('databaseHostname')">Hostname Inválido!</small>
        </div>

        <div 
          *ngIf="
            credencialFormGroup.get('categoriaCredencialEntity')?.value === 6" 
            class="formulario-input">
          <ion-label>Número da Porta <sup>*</sup></ion-label>
          <input 
            type="text" 
            placeholder="Informe a porta do Banco" 
            maxlength="5" 
            autocapitalize="off"
            formControlName="databasePorta" 
            [class.campo-invalido]="isCampoInvalido('databasePorta')" />
          <ion-icon name="mail-outline"></ion-icon>
          <small *ngIf="isCampoInvalido('databasePorta')">Porta Inválido!</small>
        </div>

        <div 
          *ngIf="
            credencialFormGroup.get('categoriaCredencialEntity')?.value === 6" 
            class="formulario-input">
          <ion-label>Nome do Banco de Dados <sup>*</sup></ion-label>
          <input 
            type="text" 
            placeholder="Informe o nome do Banco" 
            maxlength="100" 
            autocapitalize="off"
            formControlName="databaseNome" 
            [class.campo-invalido]="isCampoInvalido('databaseNome')" />
          <ion-icon name="mail-outline"></ion-icon>
          <small *ngIf="isCampoInvalido('databaseNome')">Hostname Inválido!</small>
        </div>

        <div 
          *ngIf="
            credencialFormGroup.get('categoriaCredencialEntity')?.value === 6" 
            class="formulario-input">
          <ion-label>Nome de Usuário <sup>*</sup></ion-label>
          <input 
            type="text" 
            placeholder="Informe o nome do Usuário" 
            maxlength="100" 
            autocapitalize="off"
            formControlName="databaseUsuario" 
            [class.campo-invalido]="isCampoInvalido('databaseUsuario')" />
          <ion-icon name="mail-outline"></ion-icon>
          <small *ngIf="isCampoInvalido('databaseUsuario')">Username Inválido!</small>
        </div>

        <div 
          *ngIf="
            credencialFormGroup.get('categoriaCredencialEntity')?.value === 3" 
            class="formulario-input">
          <ion-label>Nome do Titular <sup>*</sup></ion-label>
          <input 
            type="text" 
            placeholder="Informe o nome do titular do Cartão" 
            maxlength="100" 
            autocapitalize="off"
            formControlName="cartaoBancarioNomeTitular" 
            [class.campo-invalido]="isCampoInvalido('cartaoBancarioNomeTitular')" />
          <ion-icon name="mail-outline"></ion-icon>
          <small *ngIf="isCampoInvalido('cartaoBancarioNomeTitular')">Nome do Titular é Inválido!</small>
        </div>

        <div 
          *ngIf="
            credencialFormGroup.get('categoriaCredencialEntity')?.value === 3" 
            class="formulario-input">
          <ion-label>Número do Cartão <sup>*</sup></ion-label>
          <input 
            type="number" 
            placeholder="Informe o nome do titular do Cartão" 
            maxlength="16" 
            autocapitalize="off"
            formControlName="cartaoBancarioNumeroCartao" 
            [class.campo-invalido]="isCampoInvalido('cartaoBancarioNumeroCartao')" />
          <ion-icon name="mail-outline"></ion-icon>
          <small *ngIf="isCampoInvalido('cartaoBancarioNumeroCartao')">O número é Inválido!</small>
        </div>

        <div class="formulario-campo-data">
          <div 
            *ngIf="credencialFormGroup.get('categoriaCredencialEntity')?.value === 3" 
            class="formulario-campo-data-input">
            <ion-label>Mês de Vencimento <sup>*</sup></ion-label>
            <input 
              type="text" 
              placeholder="Mês" 
              maxlength="2" 
              autocapitalize="off"
              pattern="\d*"
              formControlName="cartaoBancarioMesVencimento"
              [class.campo-invalido]="isCampoInvalido('cartaoBancarioMesVencimento')" />
            <ion-icon name="calendar-clear-outline"></ion-icon>
            <small 
              *ngIf="isCampoInvalido('cartaoBancarioMesVencimento')">
              O Mês inserido é Inválido!
            </small>
          </div>
          <div 
            *ngIf="credencialFormGroup.get('categoriaCredencialEntity')?.value === 3" 
            class="formulario-campo-data-input">
            <ion-label>Ano de Vencimento <sup>*</sup></ion-label>
            <input 
              type="text" 
              placeholder="Ano" 
              maxlength="4" 
              autocapitalize="off"
              pattern="\d*"
              formControlName="cartaoBancarioAnoVencimento"
              [class.campo-invalido]="isCampoInvalido('cartaoBancarioAnoVencimento')" />
            <ion-icon name="calendar-outline"></ion-icon>
            <small 
              *ngIf="isCampoInvalido('cartaoBancarioAnoVencimento')">
              O valor inserido é Inválido!
            </small>
          </div>
        </div>

        <div 
          *ngIf="
            credencialFormGroup.get('categoriaCredencialEntity')?.value === 3" 
            class="formulario-input">
          <ion-label>Código de Segurança <sup>*</sup></ion-label>
          <input 
            type="text" 
            placeholder="Informe o CVV"
            maxlength="3" 
            autocapitalize="off"
            pattern="\d*"
            formControlName="cartaoBancarioCvv" 
            [class.campo-invalido]="isCampoInvalido('cartaoBancarioCvv')" />
          <ion-icon name="mail-outline"></ion-icon>
          <small *ngIf="isCampoInvalido('cartaoBancarioCvv')">O Código CVV é Inválido!</small>
        </div>

        <!-- FIXME: Esse campo fica atrás do teclado no Android, deve-se ajustar conforme o usuário digita -->
        <div class="formulario-input">
          <ion-label>Senha <sup>*</sup></ion-label>
          <input [type]="tipoInpuSenha" placeholder="Enter Password" maxlength="60" formControlName="senha"
            [class.campo-invalido]="isCampoInvalido('senha')" />
          <ion-icon name="lock-closed-outline"></ion-icon>
          <div (click)="gerarSenha()" class="icone-secundario">
            <ion-icon name="reload-outline"></ion-icon>
          </div>
          <div (click)="apresentarOcultarSenha()" class="icone-terceario">
            <ion-icon [name]="iconeVerificarSenha"></ion-icon>
          </div>
          <small *ngIf="isCampoInvalido('senha')">Senha Inválida!</small>
        </div>

        <div 
          *ngIf="
            credencialFormGroup.get('categoriaCredencialEntity')?.value !== 8 && 
            credencialFormGroup.get('categoriaCredencialEntity')?.value !== 5" 
          class="formulario-input">
          <ion-label>Link</ion-label>
          <input type="text" placeholder="http://www.domain.com" maxlength="100" formControlName="link" [class.campo-invalido]="isCampoInvalido('link')"/>
          <ion-icon name="person-outline"></ion-icon>
          <small *ngIf="isCampoInvalido('identificador')">Campo Obrigatório!</small>
        </div>

      </div>

      <ion-button type="submit" expand="block" [disabled]="!credencialFormGroup.valid">Save</ion-button>

    </form>

  </section>

</ion-content>