<ion-content class="ion-padding">

  <section id="searchbar">
    <div class="searchbar">
      <img src="assets/icon/search.png" />
      <input type="text" placeholder="Search for a website or app" />
    </div>
  </section>

  <section id="links">

    <ion-button id="modal-secondary">
      <ion-icon name="add"></ion-icon>
    </ion-button>

    <swiper-container [slidesPerView]="2.8" [spaceBetween]="10">
      <swiper-slide>Instagram</swiper-slide>
      <swiper-slide>Facebook</swiper-slide>
      <swiper-slide>Dribbble</swiper-slide>
      <swiper-slide>Github</swiper-slide>
      <swiper-slide>Google</swiper-slide>
      <swiper-slide>Microsoft</swiper-slide>
      <swiper-slide>Amazon</swiper-slide>
      <swiper-slide>Pinterest</swiper-slide>
      <swiper-slide>Instagram</swiper-slide>
      <swiper-slide>Facebook</swiper-slide>
      <swiper-slide>Dribbble</swiper-slide>
      <swiper-slide>Github</swiper-slide>
      <swiper-slide>Google</swiper-slide>
      <swiper-slide>Microsoft</swiper-slide>
      <swiper-slide>Amazon</swiper-slide>
      <swiper-slide>Pinterest</swiper-slide>
    </swiper-container>

  </section>

  <section id="dividor">
    <hr />
  </section>

  <section id="formulario">

    <form>

      <div class="formulario-input">
        <ion-label>Username</ion-label>
        <input type="text" placeholder="Enter Username" maxlength="100" />
        <ion-icon name="person-outline"></ion-icon>
      </div>

      <div class="formulario-input">
        <ion-label>E-mail</ion-label>
        <input type="text" placeholder="Enter E-mail Address" maxlength="100" autocapitalize="off"/>
        <ion-icon name="mail-outline"></ion-icon>
      </div>

      <!-- FIXME: Esse campo fica atrás do teclado no Android, deve-se ajustar conforme o usuário digita -->
      <div class="formulario-input">
        <ion-label>Password</ion-label>
        <input type="password" placeholder="Enter Password" maxlength="60" />
        <ion-icon name="lock-closed-outline"></ion-icon>
        <div class="icone-secundario">
          <ion-icon name="reload-outline"></ion-icon>
        </div>
      </div>

      <ion-button expand="block" disabled="true">Save</ion-button>

    </form>

  </section>

</ion-content>