@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
// @import "@ionic/angular/css/palettes/dark.always.css";
// @import "@ionic/angular/css/palettes/dark.class.css";
@import '@ionic/angular/css/palettes/dark.system.css';
@import url("./theme/fonts.scss");

* {
    font-family: "Lexend";
}

ion-header,
ion-toolbar {
    box-shadow: none !important;
}

ion-tab-bar {
    --border: 0 !important;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1);
}

// .searchbar-input.sc-ion-searchbar-md {
//     height: 3.5rem !important;
// }

.column10 {
    flex: 10;
}

.column15 {
    flex: 15;
}

.column20 {
    flex: 20;
}

.column60 {
    flex: 60
}

.column70 {
    flex: 70
}

.column80 {
    flex: 80
}

ion-toolbar,
ion-content {
    --background: #fafafa;
}

.modal::part(content) {
    border-radius: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}