@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

ion-header,
ion-toolbar {
    box-shadow: none !important;
}

// .searchbar-input.sc-ion-searchbar-md {
//     height: 3.5rem !important;
// }

.column10 {
    flex: 10;
}

.column15 {
    flex: 15;
}

.column20 {
    flex: 20;
}

.column60 {
    flex: 60
}

.column70 {
    flex: 70
}

.column80 {
    flex: 80
}